@import '../../bower_components/reset.scss/reset.scss';
@import 'partials/libs/swiper.min.scss';
.container {
	width: 100%;

	@import 'partials/sidebar.scss';

	.content {
		display: block;
		float: right;
		width: 80%;
		height: auto;

		@media screen and (max-width: 1240px) {
			width: 100%;
		}

		@import 'partials/homeBlock.scss';

		@import 'partials/portfolioBlock.scss';

		@import 'partials/aboutUsBlock.scss';

		@import 'partials/ourTeamBlock.scss';

		@import 'partials/ourClientsBlock.scss';

		@import 'partials/feedbackBlock.scss';

		@import 'partials/contactUsBlock.scss';
	}
}