.contactUsBlock {
	width: 100%;
	height: 100vh;
	background-image: url('../image/forestFooter.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	.contactUsBlock__contentBox {
		width: 1200px;
		max-width: 100%;
		height: 40%;
		position: relative;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -10%);

		@media screen and (max-width: 960px) {
			height: 80%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.contactUsBlock__logo {
			width: 30%;
			height: 100%;
			display: block;
			float: left;
			background-image: url('../image/ellipseKazula.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;

			@media screen and (max-width: 960px) {
				width: 100%;
				height: 33.333333333%;
			}
		}

		.contactUsBlock__communicationWrap {
			width: 35%;
			height: 100%;
			display: block;
			float: left;

			@media screen and (max-width: 960px) {
				width: 100%;
				height: 33.333333333%;
			}

			.contactUsBlock__communicationBox {
				width: 80%;
				max-width: 100%;
				height: 80%;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				.contactUsBlock__communicationTitleWrap {
					width: 100%;
					height: 20%;
					display: table;

					@media screen and (max-width: 960px) {
						text-align: center;
					}

					.contactUsBlock__communicationTitle {
						display: table-cell;
						vertical-align: middle;
						font-family: 'Roboto', sans-serif;
						font-size: 1.6vmin;
						color: #fff;
					}
				}

				.contactUsBlock__communicationLinksWrap {
					width: 100%;
					height: 80%;
					padding-top: 30px;

					@media screen and (max-width: 960px) {
						text-align: center;
					}

					.contactUsBlock__communicationItem {
						font-family: 'Roboto', sans-serif;
						font-size: 1.2vmin;
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}

		.contactUsBlock__twitterWrap {
			width: 35%;
			height: 100%;
			display: block;
			float: left;

			@media screen and (max-width: 960px) {
				width: 100%;
				height: 33.333333333%;
			}

			.contactUsBlock__twitterBox {
				width: 80%;
				max-width: 100%;
				height: 80%;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				.contactUsBlock__twitterTitleWrap {
					width: 100%;
					height: 20%;
					display: table;

					@media screen and (max-width: 960px) {
						text-align: center;
					}

					.contactUsBlock__twitterTitle {
						display: table-cell;
						vertical-align: middle;
						font-family: 'Roboto', sans-serif;
						font-size: 1.6vmin;
						color: #fff;
					}
				}

				.contactUsBlock__twitterOutBox {
					width: 100%;
					height: 80%;
					overflow: scroll;
					border-radius: 15px;
				}
			}
		}
	}
}