
section.cardContentBox.portfolioBlock__cardContentBox
	article.cardContentBox__titleWrap
		h1.cardContentBox__title= portfolioBlockTitle
	hr
	article.cardContentBox__textWrap
		p.cardContentBox__text= portfolioBlockText
	.cardContentBox__signatureWrap
		.cardContentBox__signature