section#js-contactUsBlock.contactUsBlock
	.contactUsBlock__contentBox
		.contactUsBlock__logo
		article.contactUsBlock__communicationWrap
			.contactUsBlock__communicationBox
				.contactUsBlock__communicationTitleWrap
					h1.contactUsBlock__communicationTitle CONTACT US
				.contactUsBlock__communicationLinksWrap
					address.contactUsBlock__communicationItem 201 N Los Angeles St # 23, Los Angeles, CA 90012, USA <br> <br>
					a(class="contactUsBlock__communicationItem" href="mailto: example@mail.ru") Email: belichenko.roden@list.ru <br> <br>
					a(class="contactUsBlock__communicationItem" href="tel: +1 213-622-8745") Phone: +1 213-622-8745 <br> <br>
					a(class="contactUsBlock__communicationItem" href="tel: +1 213-626-7010") Phone: +1 213-626-7010 <br> <br>
					a(class="contactUsBlock__communicationItem" href="fax: +1 213-628-9258") Fax: +1 213-628-9258
		article.contactUsBlock__twitterWrap
			.contactUsBlock__twitterBox
				.contactUsBlock__twitterTitleWrap
					h1.contactUsBlock__twitterTitle RECENT TWEETS
				.contactUsBlock__twitterOutBox
					a(class="twitter-timeline" href="https://twitter.com/HIDEO_KOJIMA_EN?ref_src=twsrc%5Etfw")