section#js-ourTeamBlock.ourTeamBlock
	.ourTeamBlock__descriptionBox
		article.ourTeamBlock__descriptionTitleWrap
			.ourTeamBlock__descriptionTitleBox
				h1.ourTeamBlock__descriptionTitle KERTHIN
			.ourTeamBlock__descriptionImgBox
			.ourTeamBlock__descriptionTitleBox
				h1.ourTeamBlock__descriptionTitle SHOT
		artcile.ourTeamBlock__descriptionTextWrap
			p.ourTeamBlock__descriptionText Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laborum voluptatum excepturi rem tempora sunt ipsa, pariatur consequuntur ipsam aliquid, quo ratione sed facilis culpa commodi voluptatem odio impedit voluptate laboriosam minima eum reiciendis tempore.